.dfs-search-wrap {
  display: flex;
  align-items: center;
  .dfs-input {
    padding: 5px;
    width: 200px;
    font-size: 15px;
    outline: none;
    border-radius: 10px;
    margin-right: 5px;
  }
}
