.mc-comment-wrap {
  margin-top: 20px;
}

.mc-users-comment {
  padding: 10px;
  list-style: none;

  .mc-users-comment-list {
    margin-top: 10px;
  }
}

.mc-users-comment-list-info {
  display: flex;
  align-items: center;
  position: relative;
  width: 500px;

  img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .mc-nick {
    margin-left: 5px;
    font-size: 25px;
  }

  .mc-rating {
    margin-left: 15px;
  }

  .mc-delete-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 12px;

    &:hover {
      color: #ff7043;
    }
  }
}

.mc-users-comment-list-comment {
  width: 500px;
  word-wrap: break-word;
  margin: 10px 0;
  font-size: 20px;
  color: #84868d;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mc-comment-empty {
  display: block;
  font-size: 20px;
  margin-top: 5px;
  color: #84868d;
}

.mc-comment {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 500px;
}
.mc-comment-title {
  font-size: 25px;
  font-weight: 100;
}

.mc-comment-input {
  margin-top: 20px;
  width: 300px;
  padding: 5px 10px;
}

.mc-comment-text {
  font-size: 18px;
  margin-top: 10px;
  width: 100%;
  height: 200px;
  padding: 5px 10px;
  resize: none;
}

.mc-comment-button {
  margin-top: 10px;
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.modal-fade-enter-active,
.madal-fade-leave-active {
  transition: all 500ms ease;
}

.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}
